<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITS Mega Chain</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Univie ITS CHAIN</h5>
      <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="/search">Search</a>
        <a class="p-2 text-dark" href="/listall">ListALL</a>
        <a class="p-2 text-dark" href="/insert">Insert</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>

    {% block body %}

    <div class="container">

        <div class="card">
          <div class="card-header">
            Check with tracked Image
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron jumbotron-fluid">
                      <div class="container">
                        <h3 class="display-6">Image Check</h3>
                        <p class="lead">Upload an Image and check if it matches with the currently selected one.<br> <a href="/get/{{ chaindata[8] }}">{{ chaindata[8] }}</a></p>
                          <div class="container row">
                            <div class="col-sm-3">Img Name:</div>
                            <div class="col-sm-9">{{ chaindata[1] }}</div>
                            <div class="col-sm-3">Author:</div>
                            <div class="col-sm-9">{{ chaindata[2] }}</div>
                            <div class="col-sm-3">Date:</div>
                            <div class="col-sm-9">{{ chaindata[3] }}</div>
                        </div>
                          <form action = "/check/{{ chaindata[8] }}" method = "POST" enctype=multipart/form-data>
                          <div class="container">
                              <div class="form-group row">
                                  <div class="col-sm-8">
                                      <div class="custom-file">
                                          <input type="file" name="file" class="custom-file-input" id="customFile">
                                          <label class="custom-file-label" for="customFile">Upload Image</label>
                                        </div>
                                  </div>
                                  <input type="hidden" name="storage" value="{{ chaindata[5] }}">
                                  <input type="hidden" name="fhash" value="{{ chaindata[6] }}">
                                <p><input type="submit" class="btn btn-outline-success" value="Check now!" /></p>

                              </div>


                          </div>

                        </form>
                       {% if matchresult != -1 and matchresult != "NOT IDENTIFIED"%}
                      <div class="alert alert-success">
                          Image {{ matchresult }}
                      </div>
                      {% endif %}
                      {% if matchresult == "NOT IDENTIFIED"%}
                      <div class="alert alert-primary">
                          Image not matched!
                      </div>
                      {% endif %}
                      </div>
                    </div>
                </div>
            </div>



          </div>
        <div class="row">
            <div class="col-md-6">
             <figure class="figure">
              <figcaption class="figure-caption">Original Tracked Image</figcaption>
              <img src="{{ chaindata[10] }}" style="width: 100%;" alt="Original Tracked Image">
            </figure>
            </div>
                <div class="col-md-6">
            <figure class="figure">
               <figcaption class="figure-caption">Compared Image</figcaption>
              <img src="/imagehandler/{{ tempimgname }}/2" style="width: 100%;" alt="Compared Image">
            </figure>


            </div>
        </div>



    </div>
        </div>
    {% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        $('.custom-file-input').on('change', function() {
            let fileName = $(this).val().split('\\').pop();
            $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
        });
    </script>

</body>
</html>