<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITS Mega Chain</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Univie ITS CHAIN</h5>
      <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="/search">Search</a>
        <a class="p-2 text-dark" href="/listall">ListALL</a>
        <a class="p-2 text-dark" href="/insert">Insert</a>
      </nav>
      <a class="btn btn-outline-primary" href="/login">Sign up</a>
    </div>

    {% block body %}
    <div class="container">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Address</th>
              <th scope="col">Name</th>
              <th scope="col">Author</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
          {% for itsobject in itsobjects %}
            <tr>
              <th scope="row">{{ itsobject[0] }}</th>
                <td><a href="/get/{{ itsobject[8] }}">{{ itsobject[8] }}</a></td>
                <td>{{ itsobject[1] }}</td>
                <td>{{ itsobject[2] }}</td>
                <td>{{ itsobject[3] }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>